{% extends "base.html" %}
{% block title %} publication home{% endblock %}
{% block extra_headers %}
<script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.7/angular.js" data-semver="1.2.7"></script>
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script text="text/javascript" src="{%static "js/directives/test.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css" rel="stylesheet"/>

{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1>ACME</h1>
  <p class="lead">
    The ACME Dashboard is currently under development. Please report any issues via the "site issues" link below.
  </p>

  <p><a class="btn wave-effect" href="/acme/dashboard" role="button">dashboard</a></p>

</div>

<br><br>

<div>
    <div ng-app="myapp">
        <la-modal>
            <p>Some contents</p>
        </la-modal>
    </div>
</div>

{% endblock %}

{% block footer %}
  <footer class="page-footer blue-grey darken-4" style="padding-bottom: 1.5vh; padding-top: 2vh; margin-top: 0px; bottom: 0px; position: fixed; width: 100%;">
    <a class="valign" style="color: #64b5f6; margin-left: 2vw;" href="#">Privacy &amp; Legal Notice</a> &nbsp;
    <a style="color: #64b5f6; margin-left: 2vw;" href="https://github.com/ACME-OUI/acme-web-fe/issues">Site Issues</a>
  </footer>
{% endblock %}
