<div class="modal" id="nersc_credential_modal">
    <span style="margin: 1em;">Enter your NERSC credentials</span>
    <div class="input-field col s6" style="margin: 1em;">
          <input id="nersc_username" ng-model="nersc_username" type="text">
          <label for="nersc_username">username</label>
    </div>
    <div class="input-field col s6" style="margin: 1em;">
          <input id="nersc_password" ng-model="nersc_password" type="password">
          <label for="nersc_password">password</label>
    </div>
    <a href="" ng-click="nersc_credential_submit()" class="waves-light wave-effect btn">submit</a>
</div>


