<div class="collapsible-header" ng-click="get_user_data()">
    <span>Model Output</span>
</div>
<div class="collapsible-body">
    <div class="input-field col s6" ng-hide="showmodel" style-"margin-left: 3vw;">
        <input type="text" ng-model="m_obs_query" name="m_obs_query_field">
        <label for="m_obs_query_field">filter</label>
    </div>

    <ul class="collapsible">
        <li ng-repeat="model_folder in userdata.model_output | orderBy: obs_folder | filter: m_obs_query">
            <div class="collapsible-header" ng-click="load_model_cache(model_folder); model_search()">
                <span>[[ model_folder ]]</span>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li ng-repeat="m in model_cache[model_folder]">
                        <span style="padding: 0.5rem; margin-left: 3vw;" ng-if="!m.endsWith('.nc')"> [[ m ]] </span>                                           <span ng-if="m.endsWith('.nc')">
                            <a href="" ng-click="open_nc(m, model_folder, 'model')" style="padding: 0.5rem; margin-left: 3vw;"> [[ m ]] </a>
                        </span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
