<ul class="collapsible" data-collapsible="accordion" ng-init="init()" style="position: relative">
 <li>
    <!--div class="collapsible-header"><i class="material-icons">filter_drama</i>First Section</div>
    <div class="collapsible-body">
        <ul class="collapsible" data-collapsible="accordion">
            <li-->
                <!--div class="collapsible-header" ng-click="getUserData()" ng-if="name == 'diagnostic output'"-->
                <div class="collapsible-header" ng-click="getUserData()" style="position: relative">
                    <span>{{ name }}</span>
                    <button ng-click="showModal();" data-target="modal1" class="btn modal-trigger" id="btn-1">Modal</button>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>I'm the coolest header</h4>
                            <p>A bunch of text that wishes it was as cool as the coolest header.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                </div>

                <div class="collapsible-body" style="position: relative">
                    <div class="input-field col s6" ng-hide="showmodel" style-"margin-left: 3vw;">
                        <input type="text" ng-model="m_obs_query" name="m_obs_query_field">
                        <label for="m_obs_query_field">filter</label>
                    </div>

                    <ul class="collapsible" style="position: relative">
                        <li ng-repeat="data_folder in userdata | filter: m_obs_query">
                            <div class="collapsible-header" ng-click="load_model_cache(data_folder); toggle_search()" style="position: relative">
                                <span>{{data_folder.name}}</span>
                            </div>
                            <div class="collapsible-body" style="position: relative">
                                <span ng-if="name != 'Diagnostic Output'">
                                    <span ng-repeat="file in data_folder.files">
                                        <span ng-if="data_folder.sub_folders[data_folder.files.indexOf(file)].length == 0" style="padding-left:1em">
                                          <span>
                                            <button ng-click="nested_showModal(num);" data-target="nested_modal{{num}}" class="btn modal-trigger" id="btn-1">The Modal</button>
                                            <!--div id="modal12" class="modal" style=" position: relative;"-->
                                            <!--div id="nested_modal" class="modal" style="position: relative; z-index: 5000;"-->
                                            <div id="nested_modal{{num}}" class="modal modaaal">
                                                <div class="modal-content">
                                                    <span id="thisstring{{num}}">nested_modal{{num}}</span>
                                                    <h4>I'm the coolest nested header</h4>
                                                    <h3>File: {{file}} | {{num}} |</h3>
                                                    <p>A bunch of text that wishes it was as cool as the coolest nested header.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                                </div>
                                            </div>
                                          </span>
                                            {{file}}
                                            <br>
                                        </span>

                                            <span ng-if="data_folder.sub_folders[data_folder.files.indexOf(file)].length != 0">
                                                <ul class="collapsible userDataC" style="padding-left:1em;" data-collapsible="expandable">
                                                <!--ul class="collapsible userDataC" data-collapsible="accordion"-->
                                                    <li>
                                                        <div class="collapsible-header active">
                                                            {{file}}
                                                        </div>
                                                        <div class="collapsible-body" style="padding-left:1em">
                                                            <span ng-repeat="(key, value) in data_folder.sub_folders">
                                                            <!--span ng-repeat="(key, value) in data_folder.sub_folders track by $index"-->
                                                                <span ng-repeat="(sub_key, value1) in value">
                                                                    <span ng-if="sub_key == file"> 
                                                                        <span ng-repeat="(lala, vala) in value1">
                                                                            <span ng-repeat="v in vala">
                                                                                 {{v}} <br> 
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </span>
                                        </span>
                                    </span>



                                <span ng-if="name == 'Diagnostic Output'">
                                    <ul class="collection" style="padding-left:1em;">

                                          <li>
                                            <div style="padding: 0.5em;">
                                              <span>
                                                <a href="/run_manager/get_output_zip?run_name=[[ diag_folder ]]&run_type=diagnostic" class="waves-effect waves-light btn" style="margin-left: 3vw;">download zip</a>
                                              </span>
                                              <span>
                                                <a href="" class="waves-effect waves-light btn" ng-click="publish_modal(diag_folder)">publish to esgf</a>
                                              </span>
                                              <span>
                                                <a href="" class="waves-effect waves-light btn" ng-click="upload_to_viewer_trigger(diag_folder)">upload to viewer</a>
                                              </span> 
                                            </div>
                                          </li>
                                          <hr>
                                          <span style="padding: 0.5rem; margin-left: 3vw;"> Favorite Plots </span>
                                          <li ng-repeat="fav in favorite_plots | orderBy:fav">
                                            <a href="" ng-click="open_output(fav, diag_folder)" style="padding: 0.5rem; margin-left: 3vw;" ng-if="diag_cache[diag_folder].includes(fav)">[[ fav ]]</a>
                                          </li>
                                          <hr>
                                          <div class="input-field col s6" style="margin-left: 3vw;">
                                            <input type="text" ng-model="diag_query" name="diag_query_field">
                                            <label for="diag_query_field">filter</label>
                                          </div>
                                          <li ng-repeat="diag in diag_cache[diag_folder] | orderBy:diag | filter:diag_query | limitTo:diag_limit">
                                            <span ng-if="diag.endsWith('.png') || diag.endsWith('.svg')"> 
                                              <a href="" ng-click="open_output(diag, diag_folder)" style="padding: 0.5rem; margin-left: 3vw;"> [[ diag ]] </a>
                                            </span>
                                            <span ng-if="diag.endsWith('.nc')"> 
                                              <a href="" ng-click="open_nc(diag, diag_folder, 'diagnostic')" style="padding: 0.5rem; margin-left: 3vw;">[[ diag ]]</a>
                                            </span>
                                            <span ng-if="diag.endsWith('.pdf')"> 
                                              <a href="" ng-click="open_pdf(diag, diag_folder, 'diagnostic')" style="padding: 0.5rem; margin-left: 3vw;">[[ diag ]]</a>
                                            </span>
                                            <span ng-if="!diag.endsWith('.png') && !diag.endsWith('.nc') && !diag.endsWith('.svg') && !diag.endsWith('.pdf')" 
                                                  style="padding: 0.5rem; margin-left: 3vw;">[[ diag ]]</span>
                                          </li>
                                          <a href="" class="waves-effect waves-light btn" ng-click="increase_diag_limit()" style="margin-left: 3vw;"> more </a>
                                    </ul>
                                </span>


                            </div>
                        </li>
                    </ul>
                </div>



            <!--/li>
        </ul> 
    </div-->        
 </li>
</ul>
